:root {
  /* Цвет шрифта*/
  --gray-text-color: #757575;
  --black-text-color: #212121;
  --select-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-mail-phone: rgba(255, 255, 255, 0.6);
  /* Цвет фона, кнопок ... */
  --header-border-line: #ececec;
  --background-hero-footer: #2f303a;
  --background-team: #f5f4fa;
  --background-button: #f5f4fa;
  --background-project-list: #ffffff;
  --border-project-list: #eeeeee;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-web,
.logo-studio-black {
  font-family: 'Raleway', sans-serif;
}

.logo-web {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--select-color);
}

.logo-studio-black {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
}

.nav-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}

.nav-menu:hover,
.nav-menu:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--select-color);
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-text-color);
}

.footer-main {
  background: var(--background-hero-footer);
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

/* Стили  */
.footer-mail,
.footer-phone {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail-phone);
}
